/*
Fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

/*VARIABLES*/
:root{
    --playfair-font: 'Playfair Display', serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

/*HEADER*/
.header__title{
    margin: 32px 0 12px 11px;
    font-family: var(--playfair-font);
    font-size: 1.5rem;
    font-weight: 700;
}

/*MAIN*/
.description-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.dots{
    box-sizing: border-box;
    margin: 15px 12px 0 11px;
}

.description-par{
    margin: 12px 19px 12px 12px;
    font-style: italic;
    font-family: var(--montserrat-font);
    font-size: .75rem;
    line-height: 14px;
    color: rgba(79, 79, 79, 1);
}

.cheescake-img{
    border-radius: 15px;
    margin: 0 0 24px 11px;
    width: 352px;
    height: 202px;
}

/*Servings div-> utensils, yields, 12 servings.*/
.servings-div{
    display: flex;
    flex-direction: row;
}

.utensils{
    color: rgba(242, 153, 74, 1);
    width: 20px;
    height: 20px;
    margin: 0 5px 32px 13px;
}

.yields-servings{
    display: flex;
    flex-direction: column;
}

.yields{
    font-size: .6rem;
    text-transform: uppercase;
    font-family: var(--montserrat-font);
    font-weight: 700;
    color: rgba(189, 189, 189, 1);
}

.servings{
    color: rgba(242, 153, 74, 1);
    font-size: .8rem;
    font-family: var(--montserrat-font);
    font-weight: 500;
}

/*Time div*/
/*Diseño general para los 3 iconos del reloj*/
.uil-clock{
    color: rgba(79, 79, 79, 1);
    width: 14px;
    height: 14px;
    margin-right: 5.4px;
}
/*Time div-> div grande que abarca los 3 divs pqueños*/
.time-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Div de prep-time*/
.prep-div{
    display: flex;
    flex-direction: row;
}

.clock-icon{
    margin-left: 12px;
}
/*Div de cook-time*/
.cook-div{
    display: flex;
    flex-direction: row;
}
/*Div de total time*/
.total-div{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

/*Divs de los small y span*/
.preps{
    display: flex;
    flex-direction: column;
}

/*Small de cada div, mismo diseño*/
.small{
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase;
    line-height: 8px;
    color: rgba(189, 189, 189, 1);
}

.mins{
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: .7rem;
    line-height: 12px;
    margin-bottom: 30px;
    color: rgba(51, 51, 51, 1);
}

/*Ingredientes*/
.ingredients-title{
    font-family: var(--playfair-font);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
    margin-left: 12px;
    margin-bottom: 13px;
}

.cracker{
    font-family: var(--playfair-font);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
    margin-left: 13px;
    margin-bottom: 24px;
}

/*Form*/
.form{
    display: grid;
    grid-template-columns: 10% 90%;
}

.input{
    grid-column-start: 1;
    width: 21px;
    height: 21px;
    margin-left: 13px;
}

.label{
    font-family: var(--montserrat-font);
    font-size: .875rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 25px;
}

.bold{
    font-weight: 700;
    color: black;
}

/*Ingredientes*/
.cheescake{
    font-family: var(--playfair-font);
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
    margin: 40px 0 24px 13px;
    margin-left: 13px;
    margin-bottom: 24px;
}

/*Instrucciones*/
.instructions-title{
    font-family: var(--playfair-font);
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 1);
    margin: 30px 0 28px 12px;
}

.instructions{
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 20px;
}

.div-1{
    margin-left: 12px;
    background-color: rgba(242, 153, 74, 1);
    width: 36px;
    height: 36px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--playfair-font);
    font-weight: 700;
    font-size: 1.5rem;
}

.instructions-par{
    color: rgba(0, 0, 0, 1);
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 400;
    margin-right: 12px;
    line-height: 20px;
}

/*Small source bottom*/
.small-bottom{
    text-align: center;
    color: rgba(189, 189, 189, 1);
    font-size: .75rem;
    font-family: var(--montserrat-font);
    font-weight: 400;
    margin: 26px 0 0px 12px;
}

/*FOOTER*/
.footer{
    margin: 80px auto 24px auto;
    color: rgba(169, 169, 169, 1);
    text-align: center;
}

.link{
    color: rgba(169, 169, 169, 1);
    font-weight: bolder;
    text-decoration: none;
}

/*----------------MEDIA QUERIES--------------------------*/
@media all and (min-width: 1024px){
   body{
    margin-left: 14rem;
    margin-right: 30rem;
} 

/*HEADER*/
.header__title{
    margin-top: 50px;
    font-size: 3rem;
}

/*MAIN*/
.description-par{
    font-size: .875rem;
    line-height: 17px;
}

.cheescake-img{
    width: 969px;
    height: 444px;
}

/*Sección para darle a la parte de tiempo de prep estilo*/
.icons-section{
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    right: 150px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 10px 2px rgba(189,187,189,1);
-moz-box-shadow: -1px 2px 10px 2px rgba(189,187,189,1);
box-shadow: -1px 2px 10px 2px rgba(189,187,189,1);
} 

.utensils{
    width: 27px;
    height: 27px;
    margin-left: 0;
}
.yields{
    font-size: .624rem;
}

.servings{
    font-size: .875rem;
}

/*Diseño general para los 3 iconos del reloj*/
.uil-clock{
    width: 28px;
    height: 28px;
}
/*Time div-> div grande que abarca los 3 divs pqueños*/
.time-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Div de prep-time*/
.clock-icon{
    margin-left: 0px;
}

/*Small, mins de cada div, mismo diseño*/
.small{
    font-size: .625rem;
    line-height: 10px;
}

.mins{
    font-size: .875rem;
    line-height: 17px;
}

/*Ingredientes*/
.ingredients-title{
    font-size: 1.5rem;
   line-height: 31px;
} 

.cracker, .cheescake{
    font-size: 1.125rem;
    line-height: 24px;
    grid-column-start: 1;
}
/*Form*/
.label{
    font-size: 1rem;
}

.instructions-par{
    line-height: 24px;
}

/*Small source bottom*/
.small-bottom{
    font-size: 1rem;
    margin: 57px 0 19px 12px;
}
}
